IO_LOC "CLK" H11;
IO_PORT "CLK" IO_TYPE=LVCMOS33;

IO_LOC "RESETn" T10;
IO_PORT "RESETn" IO_TYPE=LVCMOS33;

IO_LOC "UART_RX" T13;
IO_PORT "UART_RX" IO_TYPE=LVCMOS33;

IO_LOC "UART_TX" M11;
IO_PORT "UART_TX" IO_TYPE=LVCMOS33;

//IO_LOC "LED0" C13;
//IO_PORT "LED0" IO_TYPE=LVCMOS33;

//IO_LOC "LED1" A13;
//IO_PORT "LED1" IO_TYPE=LVCMOS33;

IO_LOC "LED2" N16;
IO_PORT "LED2" IO_TYPE=LVCMOS33;

IO_LOC "LED3" N14;
IO_PORT "LED3" IO_TYPE=LVCMOS33;

IO_LOC "LED4" L14;
IO_PORT "LED4" IO_TYPE=LVCMOS33;

IO_LOC "LED5" L16;
IO_PORT "LED5" IO_TYPE=LVCMOS33;

//IO_LOC "BTN0" T10;
//IO_PORT "BTN0" IO_TYPE=LVCMOS33;

IO_LOC "BTN1" T3;
IO_PORT "BTN1" IO_TYPE=LVCMOS33;

IO_LOC "BTN2" T2;
IO_PORT "BTN2" IO_TYPE=LVCMOS33;

IO_LOC "BTN3" D7;
IO_PORT "BTN3" IO_TYPE=LVCMOS33;

IO_LOC "BTN4" C7;
IO_PORT "BTN4" IO_TYPE=LVCMOS33;
